@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;800&display=swap');

body
{
    font-family: 'Saira', sans-serif;
    margin: 0;
    background-color: #121212;
}
h1
{
    font-family: "Ethnocentric", sans-serif;
    text-align: center;
}

h2
{
    font-family: "Michroma", sans-serif;
    font-size: 15px;
    text-align: center;
}

header
{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    min-height: 130px;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #1E1E1E;
    align-items: center;
    height: 100px;
    padding: 10px 30px;
}

.nav-menu
{
    display: flex;
    grid-column: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.start_text
{
    margin: 50px;
    color: white;
}

header nav #menu
{
    text-align: center;
}

header nav #menu a
{
    padding-right: 5px;
    color: white;
    padding-bottom: 25px;
}

header nav #menu a
{
    padding-right: 5px;
    color: white;
    text-decoration: none;
}

footer{
    background-color: #1E1E1E;
    height: 100px;
    color: white;
}

.logo
{
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

#user
{
    grid-column: 3;
    justify-self: end;
    padding-right: 30px;
}

#welcome>button
{
    background-color: black;
    color: white;
    border-radius: 10%;
}

/*Para dentro de categorias*/
.categoria
{
    display: flex;
    /*background-image: url("../images/example.webp");*/
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.secciones-categorias
{
    padding: 0px;
    margin: 10px !important;
    column-gap: 5px;
    row-gap: 5px;
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    justify-content: space-around;
}