@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;800&display=swap');

body
{
    font-family: 'Saira', sans-serif;
    margin: 0;
    background-color: #121212;
}

main{
    margin-bottom: 20px ;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    position: fixed;
    width: 100%;
    top: 0;
}

.submenu{
    display: none;
    position: absolute; /*Para poderse poner sobre todo*/
    background-color: #000000eb;
    flex-direction: column;
}

.menuCategorias:hover .submenu {
    display: flex; /*Para colocar uno debajo del otro, realmente no hace falta*/
    padding: 20px;
}

.menuCategorias:hover .submenu a {
    padding: 10px;
}

.headerTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    background-color: #1E1E1E;
    align-items: center;
    height: 75px;
    padding: 10px 30px;
    margin-top: 0;
}

.startText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: white;
    margin-top: 140px;
}

.startText h1{
    margin-bottom: 0px;
}

.startText h2{
    margin-top: 5px;
}

.logo{
    margin-left: 15px;
}

.sign{
    margin-right: 15px;
}

#user
{
    grid-column: 3;
    justify-self: end;
    padding-right: 30px;
}

/*.sign button{
    background-color: black;
    color: white;
    border-radius: 10%;
}*/

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 5px 10px 5px;
}

.navbar a{
    color: #D8D2C4;
}

.navbar a:hover{
    color: #F2F2EE;
}

/* FOOTER */

.footerBottom{
    background-color: #1E1E1E;
    font-weight: bolder;
    bottom: 0;
    width: 100%;
    color: #b3e3ee;
}

.information{
    display: flex;
    justify-content: space-around;
}

/* INDEX.HTML*/

.categorias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
}

.categoria{
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    margin: 5px;
}

.categoria p{
    color: #D8D2C4;
}

.categoria:hover{
    color: #F2F2EE;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}

/* LOGIN.HTML */

/* REGISTER.HTML */
.main-reg, .main-reg h1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

.form-reg form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-reg label{
    color: #D8D2C4;
}

/* CATEGORIAS.HTML*/

/* PRODUCTOS.HTML*/

/* MEDIA QUERYS */

/* Reducimos el tamaño de las tarjetas */
@media (max-width: 1338px) {

    .categoria {
        padding: 80px;
    }

}

@media (max-width: 1250px) {

    .categoria {
        padding: 60px;
    }

}

/* Pasamos de 4 columnas a 2 */
@media (max-width: 1142px) {

    .categorias {
        grid-template-columns: 1fr 1fr;
    }

    .categoria {
        padding: 100px;
    }

}
